node_modules
Dockerfile
docker-compose.yml
.gitignore
.nuxt
.vscode
.editorconfig
.eslintrc.js
dist
.idea
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/storage/images
server/logs/*
assets